.form {
  width: 350px;
  border: 1.5px solid #3b2d4d;
  border-radius: 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px auto;
  background-color: #fff;
}
.label {
  display: flex;
  flex-direction: column;
}
.field {
  color: #3b2d4d;
  padding: 5px 10px;
  border: 1px solid #3b2d4d;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}
.field:hover,
.field:focus,
.field:active {
  border: 1px solid #076938;
}

.error {
  margin-top: 3px;
  font-size: 10px;
  color: #fa0d7c;
}
.btnForm {
  padding: 10px 30px;
  margin: 0 auto;
  border-radius: 10px;
  border: none;
  background-color:  #076938;
  color: #f7f3f9;
  transition: background-color 0.3s ease-in-out;
}

.btnForm:hover {
  background-color:#39058d;
}

